{% load i18n %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Jungle . Create Cluster</title>
    <link rel="stylesheet" type="text/css" href="{% static 'public/includes/css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/navigation/css/navigationLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/includes/css/tableLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/scrollbar/css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/scrollbar/css/scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/toggle/css/clusterToggleButton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/includes/css/dropdown.css' %}">
  </head>

  <body>
    <h1>
      services
    </h1>
  </body>

</html>
